@import '../../../../frame/style/color.scss';

$color-bg: #ebecf0;
.bktrade-account {
  height: 100%;
  &-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ebecf0;
  }
  &-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 422px;
    padding: 20px;
    z-index: 99;
    border-radius: 10px;
    background-color: #ebecf0;
    // box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    //             3px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -5px -5px 20px #fff,
    5px 5px 20px #babecc;
  }
  &-confirm{
    display: flex;
    justify-content: space-between;
    width: 98%;
    color: $T3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0 #fff;
    line-height: 40px;
    padding: 4px;
    border-radius: 10px;
    // box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    // 3px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    &-text{
      padding-right: 18px;
      min-width: 98px;
      white-space: nowrap;
    }
    &-url{
      flex-grow: 1;
      padding-left: 12px;
      background-color: #ebecf0;
      border-radius: 10px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;

      &:hover{
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
      }
    }
  }
  &-form{
    margin-top: 10px;
    padding: 30px 42px 44px 40px;
    background-color: #ebecf0;
    border-radius: 10px;
    // box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    //             3px 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  }
  &-bg{
    position: absolute;
		width: 100%;
		top: 0;
		img{
			width: 100%;
			height: 100%;
		}
  }
  &-title {
		position: relative;
    display: inline-block;
    color: $T1;
    font-size: 24px;
    font-weight: 500;
		.title-text{
      position: relative;
      z-index: 10;
    }
    .title-line{
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0px;
      height:8px;
    //   background-color: rgba(75, 95, 225, 0.5);
      background-color: $primary-color;
      border-radius:1px;
    }
	}
	.bkreact-tabs {
		// margin-top: 30px;
		// &-menu {
		// 	border: none;
		// }
		// &-label {
		// 	margin-right: 30px;
		// 	font-size: 16px;
		// 	color: $T3;
		// 	font-weight: 400;
		// 	cursor: pointer;
		// 	padding: 0;
		// }
		// &-label.active {
		// 	// color: #3a3ae5;
		// 	color: $T14;
		// 	font-size: 20px;
		// 	font-weight: 600;
		// 	background: none;
		// }
	}
	.bkreact-form {
		margin-top: 20px;

	}
	&-item-phone {
		.bkreact-input {
			&-after {
				left: 0px;
				width: 80px;
				justify-content: center;
			}
			&-input {
				padding-left: 75px!important;
			}
		}
		.vertical-line {
			position: absolute;
      left: 65px;
      top: 12px;
      width: 1px;
      height: 15px;
      background-color: $BT1L;
		}
		.bkreact-select {
			&-input {
				padding-left: 0;
				text-align: center;
			}
		}
	}
	&-actions{
		color: $T2;
		padding-top: 10px;
    span {
			display: inline-block;
      cursor: pointer;
      color: $primary-color;
    }

    &-line {
      position: absolute;
      background-color: #bfc1c9;
      width: 2px;
      height: 10px;
      right: 0;
      top: 5px;
    }
	}
	&-login {
		&-toggle {
			color: $primary-color;
		}
	}
}