@import '../style/color.scss';

.bkreact-tabs{
  position: relative;
  &-menu{

    &-wrap{
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 6px;
    }

    &-content {
      width: 100%;
      border-radius: 10px;
      padding: 8px;
      margin: 0 4px;
      overflow: hidden;
      max-width: 400px;
      box-shadow: -3px -3px 8px #fff, 3px 3px 8px #babecc;

      &-swiper {
        transform: translate3d(0, 0, 0);
        white-space: nowrap;
        transition: transform 600ms ease 0s;
      }
    }

    &-prev, &-next {
      z-index: 1;
      width: 30px;
      height: 30px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        color: $T1;
      }

      .bkreact-icon-d_right{
        width: 16px;
        height: 16px;
        border-radius: 4px;
        box-shadow: -3px -3px 10px #fff, 3px 3px 10px #babecc;

        &:hover{
          box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
          cursor: pointer;
        }

        &:active{
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
        }
      }
    }
  }

  &-label {
    border: none;
    margin-right: 14px;
    line-height: 28px;
    width: 60px;
    color: #61677c;
    text-shadow: 1px 1px 0px #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: -3px -3px 8px #fff, 3px 3px 8px #babecc;

    &:hover{
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    }
  }

  &-label.active{
    font-weight: bold;
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }

  &-view{
    margin:  8px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: -3px -3px 8px #fff, 3px 3px 8px #babecc;
  }
}

html ::-webkit-scrollbar{
  height: 1px;
}