$white-color: #fff;
$primary-color: #253B80;

$T1: #1E242E;
$T2: #465061;
$T3: #7A7D96;
$T4: #BBC1CB;
$T5: #FFFFFF;
$T6: #253B80;
$T7: #53B786;
$T8: #DE4D42;
$T9: #F1915C;
$T10: #F4F7FF;
$T11: #161E3B; //市场行情，订单详情下文字使用
$T12: #9DA4CD; //个人中心/账户安全/登陆IP地址等文字颜色
$T13: #A2A6C0; //个人中心/账户安全/登陆IP地址等文字颜色
$T14: #2997d8; //文字链接色

/*
 W是老版本主页使用的白色主题的颜色
 因为首页用老版本的黑低白字主题
*/
$TW1: #F4F7FF;
$TW2: #969EB8;
$TW4: #3F456E;

$B1: #F5F7FC;
$B2: #FFFFFF;
$B3: #FAFAFA;
$B4: #F8F9FD;
$B5: #D9DDEC; // B11
$B6: #DADEEE;  // B26
$B7: #53B786 ;
$B8: #DE4D42; // B5
$B9: #253B80; // B6
$B10: #F1915C; // B25
$B11: #C6CBED ; // B31
$B12: #3B4485; // B37
$B13: #000000;
$B14: #F4F4F4; //个人中心/身份认证/选择ID类型下，默认背景色
$B15: #CED2EA; //法币交易/订单详情下订单完成进度条背景条颜色
$B16: #E7E8F2; //法币交易/订单详情下订单完成进度点背景条颜色
$B17: #2997d8; 

/*
 W是老版本主页使用的白色主题的颜色
 因为首页用老版本的黑低白字主题
*/
$BW1: #12141E;

$BT1B: #FFFFFF; //  默认输入框下拉框背景色
$BT1L: #D9DDEC; //  默认输入框下拉框线框色

$BT2B: #FFFFFF;  // BT1L hover 状态
$BT2L: #253B80;  // BT1L hover 状态

$BT3B: #FFFFFF;  // BT1L 错误状态
$BT3L: #DE4D42;  // BT1L 错误状态

$BT4: #253B80; // 默认蓝色按钮

$BT5: #253B80; // 默认蓝色按钮以及文字链接hover态

$BT6: #DADEEF; // 默认灰色按钮

$L1: #ECEFF8; //背景分割
$L2: #F3F5FD; //用于背景分割色块
$L3: #E6E9F2; //用于背景分割色块
