@import '../style/color.scss';

.bkreact-button {
  border: 1px solid red;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  -webkit-app-region: no-drag;

  &-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-default {
    color: $T2;
    background-color: $B5;
  }

  &-text {
    color: $T1;

    &:hover {
      color: $primary-color;
    }
  }

  &-line {
    color: $T2;
    border: 0.5px solid $BT1L;

    &:hover {
      color: $T2;
    }
  }
  &-primary{
    color: #babecc;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0px #fff;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;

    &:hover{
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    }
  }

  &-green{
    color: $white-color;
    background-color: $B7;

    &:hover{
      background-color: lighten($B7, 10%);
    }
  }

  &-red{
    color: $white-color;
    background-color: $B8;

    &:hover{
      background-color: lighten($B8, 10%);
    }
  }

  &-xs {
    height: 28px;
    font-size: 12px;
    padding: 0 15px;
  }
  &-small{
    height: 34px;
    font-size: 13px;
    padding: 0 20px;
  }

  &-normal{
    height: 40px;
    font-size: 14px;
    padding: 0 25px;
  }

  &-lg{
    height: 54px;
    font-size: 16px;
    padding: 0 30px;
  }

  &-block {
    width: 100%;
  }

  &:disabled{
    cursor: not-allowed;
    background-color: #ebecf0 !important;
    color: #4f566f !important;
    &:hover{
      box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    }
  }

  &-text:disabled{
    background-color: transparent !important;
  }

  &:active{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    font-size: small;
  }
}