@import "./frame/style/color.scss";

body {
  //不知道为啥，body里面会有一个margin 8px，我都找不到哪儿来的
  margin: 0px;
}

html ::-webkit-scrollbar{
  width: 50px;
  height: 5px;
}
html ::-webkit-scrollbar, html ::-webkit-scrollbar-track{
  background-color: transparent;
}
html.en-us ::-webkit-scrollbar,html ::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background-color: rgba(127,143,164,.4)
}

html.en-us.hb-night ::-webkit-scrollbar-thumb {
  background-color: #2e3753
}

.bktrade{
  background-color: $B1;
  min-height: 100vh;
  min-width: 1190px;
}

.bktrade-im {
  position: fixed;
  bottom: 0;
  right: 10px;
  display: none;
  width: 400px;
  height: 550px;
  background-color: #eeeeee;
  box-shadow: 3px 3px 10px rgba(0, 0 ,0, .5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;

  &-header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;

    &-close {
      cursor: pointer;
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;
    }
  }

  &-content {
    border: 1px solid rgb(109, 106, 106);
    width: 100%;
  }
}

.animate__fadeOutDown{
  animation-name: fadeOutDown;
  animation-duration: 0.4s;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}